<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="static/images/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Manager</title>
</head>

<body onload="populate_filter_criteria('{{filter_criteria}}')">
    <div id="messageBanner"></div>
    <form method="POST" id="videoSearchingForm">
        <input type="url" name="search_url" style="width: 40vw;" value="{{search_url}}"> 
        <select name="filter_criteria">
            <option id="filter_criteria_all" value="all">All</option>
            <option id="filter_criteria_audio_video" value="audio_video">Audio and Video</option>
            <option id="filter_criteria_video" value="video">Only Video</option>
            <option id="filter_criteria_audio" value="audio">Only Audio</option>
        </select>
        <input style="margin-left: 30px;" type="submit" value="Search">
        {% csrf_token %}
    </form>
    <div id="all-videos-container">
        {% for video in all_videos %}
        <div class="video-item" method="POST">
            <table>
                <tr>
                    <td>Resolution:</td>
                    <td><input type="text" value='{{video.resolution}}' disabled name="resolution"></td>
                </tr>
                <tr>
                    <td>Audio:</td>
                    <td><input type="text" value='{{video.audio_codec}}' disabled name="audio_codec"></td>
                </tr>
                <tr>
                    <td>Video:</td>
                    <td><input type="text" value='{{video.video_codec}}' disabled name="video_codec"></td>
                </tr>
                <tr>
                    <td>URL:</td>
                    <td><input type="text" value='{{search_url}}' disabled name="url"></td>
                </tr>
                <tr>
                    <td>Type:</td>
                    <td><input type="text" value='{{video.type}}' disabled name="type"></td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td><input type="text" value='{{video.title}}' disabled name="title"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" onclick="downloadFromYoutube(
                        '{{video.resolution}}',
                        '{{video.audio_codec}}',
                        '{{video.video_codec}}',
                        '{{search_url}}',
                        '{{video.type}}'
                    )">Download</button></td>
                </tr>
            </table>
            {% csrf_token %}
        </div>
        {% endfor %}
    </div>
</body>
<style>
    body {
        background-color: rgba(64, 67, 197, 1);
        overflow-x: hidden;
    }
    #messageBanner{
        position: absolute;
        top:0px;
        left: 0px;
        width: 100vw;
        height: 5vh;
        background-color: red;
        color: white;
        display: none;
    }
    #videoSearchingForm {
        position: absolute;
        top: 10vh;
        left: 10vw;
        width: 60vw;
        height: 80vh;
        padding: 5vw;
        align-items: center;
    }

    #all-videos-container {
        position: absolute;
        top: 30vh;
        left: 0;
        width: 90vw;
        padding-left: 5vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
</style>
<script>
    function hideMessageBanner(){
        let banner = document.querySelector("#messageBanner");
        banner.style.display = "none";
    }
    function showMessageBanner(level, message, persist){
        if(!message){
            message = level;
            level = "info";
        }
        let banner = document.querySelector("#messageBanner");
        banner.style.display = "block";
        switch(level){
            case "info":
            case "INFO":
                backgroundColor = "grey";
                color = "white";
                break;
            case "warn":
            case "warning":
            case "WARN":
            case "WARNING":
                backgroundColor = "yellow";
                color = "orange";
                break;
            case "error":
            case "ERROR":
                backgroundColor = "red";
                color = "white";
                break;
            case "success": 
            case "SUCCESS": 
                backgroundColor = "green";
                color = "white";
                break;
            default:
                backgroundColor = "grey";
                color = "white";                
        }        
        banner.innerHTML = message;
        banner.style.backgroundColor = backgroundColor;
        banner.style.color = color;
        if(!persist){
            setTimeout(hideMessageBanner, 3000);
        }
    }
    function populate_filter_criteria(value) {
        if(!value) return;
        document.getElementById("filter_criteria_"+value).setAttribute("selected","");
    };
    function downloadFromYoutube(resolution, audio, video, url, type) {
        showMessageBanner("info", "Downloading  . . . ", true)
        fetch("http://127.0.0.1:8000/downloadVideo", {
            method: "POST",
            headers: {
                "Access-Control-Allow-Orign": "*"
            },
            body:JSON.stringify({
                "url": url,
                "video": video,
                "audio": audio,
                "title": "",
                "resolution": resolution,
                "type": type
            })
        })
        .then(json => {
            if(json.status>=400) throw Error(json.statusText);
            showMessageBanner("success", "Download Success");
        })
        .catch(err => showMessageBanner("error", "Download failed"+err))
    }
</script>

</html>